 
 <div class="card col-12 justify-content-center inner-color">
    <form class="form" action="getPlace" method="POST">
            <div class="form-group text-center mt-2">
                <div class="title"><i class="fas fa-satellite-dish"></i> Earth Colony Scan</div>
            </div>
            <div class="row justify-content-center mb-3">
                <input class="form-control col-lg-10 col-md-6 col-sm-6" type="text" placeholder="Find an Earth City" aria-label="Search" name="newPlace">
                <button type="submit" class="btn ml-1 btn-jupiter"><i class="fas fa-satellite"></i> Scan</a>
            </div>
    </form>
</div>