
<div class="card mt-4 justify-content-center inner-light-color col-12">
    <div class="form-group text-center mt-2">
        <div class="title"><i class="fas fa-globe-americas"></i> Targeted Locations</div>

        <div class="row d-flex justify-content-between ">
            <div class="ml-2 col-2 col-xs-12 p-0 align-self-center d-none d-sm-block">
                <%- include('../partials/createList') %>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12 p-0 align-self-center">
                <form action="/saveList" method="POST">
                    <div class="row">
                        <input class="form-control col-md-8 col-sm-6 col-lg-8 d-none d-sm-block <% if (isLoggedIn === false) { %> disabled <% } %>" type="text" <% if (isLoggedIn === false) { %> disabled <% } %> placeholder="List Name" name="listName">
                        <button class="btn ml-1 d-none d-sm-block <% if (isLoggedIn === false) { %> disabled <% } else {%> btn-jupiter<% } %>" <% if (isLoggedIn === false) { %> disabled <% } %> type="submit">Save</button>
                    </div>
                </form>
            </div>
        </div>

    </div>
    <div class="card-deck" id="weather_deck">
        
        <%- include('../partials/weatherCard') %>
    </div>
</div>