
<div class="card mt-4 justify-content-center inner-light-color col-12">
    <div class="form-group text-center mt-2">
        <div class="title"><i class="fas fa-globe-americas"></i> Targeted Locations</div>
    </div>
    <div class="card-deck" id="weather_deck">
        
        <%- include('../partials/weatherCard') %>
    </div>
</div>